@import url("https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.css");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 2000px;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  max-width: 1440px;
  width: 100%;
  height: 900px;
  margin: 0 auto;
}

// Single item
.item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  // Item image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Item title
  &__title {
    position: absolute;
    top: 50%;
    left: 150px;
    height: 156px;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 700;
    overflow: hidden;
  }

  &__title-text {
    white-space: nowrap;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

    h2 {
      font-size: 60px;
      margin: 0;
    }

    p {
      font-size: 35px;
      margin: 0;
    }

    &--next {
      opacity: 0;
    }
  }

  // Next button
  .next-item {
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-appearance: none;

    &__content {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      padding: 40px 25px;
      background-color: #fff;
      z-index: 1;
      width: 180px;
      justify-content: space-between;
      text-align: left;
      box-shadow: 0.3rem 0 1rem 0 rgba(0, 0, 0, 0.26);
    }

    &__heading {
      color: #b3b3b3;
      text-transform: uppercase;
      font-size: 12px;
    }

    &__title {
      position: relative;
      width: 100%;
      height: 36px;

      &-text {
        font-weight: bold;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

    &__arrow {
    }

    .preview {
      position: relative;
      overflow: hidden;
      width: 150px;
      height: 300px;

      &__image {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
